@model ZooplanetTareaU3.Models.ViewModels.ClaseViewModel

@{
    Layout = "Layout";
}

<a href="~/Home/Index" class="btn btn-back">Volver al Inicio</a>
<h2 class="section-title">@Model.NombreClase</h2>

<section class="species-table">
    <table>
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Especie</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var especie in Model.Especies)
            {
                <tr>
                    <td>
                        <img src="~/especies/@(especie.Id).jpg?v=@Guid.NewGuid()" alt="@especie.Nombre">
                    </td>
                    <td>
                        <strong>@especie.Nombre</strong>
                    </td>
                    <td>
                        <a href="~/Home/Detalle/@especie.Nombre" class="species-link">Ver detalles →</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</section>